@import "variables.scss";

.v-application .primary {
  background-color: $primary !important;
  border-color: $primary !important;
}

.v-application .secondary {
  background-color: $secondary !important;
  border-color: $secondary !important;
}

.container.container--fluid{
  &.default-layout{
    padding-bottom: 0;
    padding-top: 100px;
    min-height: calc(100vh - 100px);
  }

  // @override vutify property
  &.admin-layout{
    background-color: $bg-color;
    margin: 80px 0 0 60px;
    width: calc(100% - 60px);
    min-height: 100vh;
  }

  .v-sheet.v-card:not(.v-sheet--outlined){
    box-shadow: 0 0 2rem 0 rgba(136,152,170,.15);
    border-radius: .375rem;
  }
}
